.container{
    padding: 50px 0;
}

.content{
    width:80%;
    margin:auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
    word-spacing: 5px;
    font-size: 17px;
}

.head{
    text-align: center;
    margin-bottom: 100px;
}
h1, h2{
    font-weight: 400;
    color: #383838;
    
}

h1{
    line-height: 60px;
    font-size: 40px;
}
h2{
    line-height: 40px;
}

.foot{
    display: flex;
}

.col1{
    width: 36%;
}

.letter{
    box-shadow:1px 1px 18px   rgb(218, 216, 216);
    padding: 30px 50px 50px;
    color: #969696;
}
a{
    text-decoration: none;
    font-size: 14px;
    color:#849bbb;
    font-weight: 500;
}
.letter-content p:nth-child(3){
    margin-bottom: 0;
   font-weight: 500;
   color: #383838;
}


.col2{
    width:64%;
    padding-left: 80px;;
}

.col2-content{
    color:#616161;
}

.col2-content p:nth-child(1){
    margin-top: 0;
}

.col2-content p:nth-child(2){
    margin-top: 0;
    color: #2a2a2a;
    font-weight: 500;
    margin: 25px 0;
}