.container{
    padding-top: 100px;
}

.content{
    width:45%;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    color:#8d8c8c;
    line-height: 26px;
    font-size: 17px;
    
}

.head{}

h1{
    color:rgb(34, 33, 33);
    margin: 30px 0;
}

.list{
    display:flex;
    justify-content: space-between;
}

.col{
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{    
    margin-bottom: 6px;
}

i{
    color:#c2d82e;
    margin-right: 5px;
}
 
a:link, a:visited{
    text-decoration: none;
    color:#a6a5a5;
    font-size: 15px;
 }

 a:hover, a:active{
    color: #515050;
 }