.container{
    padding: 50px 0;
}

.background{
    background-color: #1f1f1f;
    width: 85%;
    margin: auto;
    padding: 50px;
    
}

.content{
    color: #818181;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
    justify-content: space-between;
}

h3{
    color: white;
    margin-top: 0;
}

 .col1{
    width: 35%;
 }
 .col2{
    width: 21%;
 }
.col3{
    width: 21%;
}
.col4{
width: 17%;
}

.border{
    background-color: #8598cc;
    margin-bottom: 50px;
    width: 190px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 200;
}
.border p{
    color:white !important;
}



ul{
    list-style-type: none;
    padding: 0;
}
li{
    border-bottom: 1px dashed #3e3e3e;
    border-left: none;
    border-right: none;
    padding: 10px 0 ;
}
 li:last-child{
    border-bottom: none;
 }


a:link, a:visited{
    text-decoration: none;
    color: #818181;
}

a:hover{
    color: #efe8e8;
}

.col4-row{
    display: flex;
    align-items: baseline;
}
.icon{
    padding: 0;
    width: 25px;
    height: 15px;
    border-right: 1px dashed #3e3e3e;
    display: flex;
    align-items: center;
    
}
.col4-row p{
    margin: 0 12px 0;
}
address{
    font-style: normal;
    padding-right: 50px;
}