.container1{
    padding: 50px 0;
}

.container2{
    width: 79%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head{
    text-align: center;
    margin-bottom: 60px;
   
}
.head p{
    color: #575757;
}
 
.content{
    display: flex;
    justify-content: space-between;
}

.col{
    width: 31.6%;
}

.image{
    background-color: #dea4de;
    color:white;
    font-size: 30px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.image-bot{}

.image-content{
    color: #5a5959;
}

.image-content h2{
    font-weight: 500;
    font-size: 25px;
    margin: 15px 0 0;
    color: black;
}

.paragraph{
    margin: 0 0 29px;
    line-height: 25px;
}

.day{
    display: flex;
}
.day pre{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon{
    display: flex;
    align-items: center;
    margin-right: 5px;
}

button{
    padding: 12px 17px;
    background-color: white;
    border: 1px solid black;
    color: #5a5959;
}