.container{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    font-family:'Times New Roman', Times, serif;
}

.content{
width: 80%;
background-image: url('b4ef9084598789d9d096.jpg');
background-repeat: no-repeat;
background-size: cover;
display:flex;
justify-content:space-around;
color:rgb(224, 224, 224);
padding: 35px 90px;
box-sizing:border-box;
}

.item{
    text-align: center;   
    font-size: 50px;
}
.item p:nth-child(2){
    margin: 15px 0 20px 0;
    font-size: 50px;

}

.item p:nth-child(3){
    margin: 0;
    font-size: 20px;
}